@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@300;700&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Archivo Narrow', monospace;
	font-variant-ligatures: none;

	background-image: url("space.svg");
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#platform {
	display: flex;
	flex-wrap: wrap;

	background-color: #603000;
	padding: 5px;
	border-radius: 4px;

	transition: all .1s ease;

	box-shadow: 0 8px 0 0 #b46854, 0 10px 0 0 #603000;

	width: calc(8em + 10px + 10px);
}

#stats {
	position: absolute;
	left: 8px;
	top: 8px;

	color: #fff;
}

#stats * {
	margin: 0;
}

#stats h1 {
	font-size: 2em;
}

#stats p {
	font-size: 1em;
}